html {
  font-family: sans-serif;
  font-weight: 300;
}

figure {
  margin: 0;
  padding: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.page-header {
  display: flex;
  height: 80px;
  padding: 0 95px;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
}

nav a {
  color: #0b4141;
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: row;
}

nav li {
  text-decoration: none;
  list-style: none;
  margin-right: 24px;

  font-size: 20px;
  color: #0b4141;
}

nav li:last-of-type {
  margin-right: 48px;
}

.btn {
  display: inline-block;
  height: 46px;
  padding: 0 34px;
  line-height: 46px;
  border-radius: 40px;
}

.btn-large {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 70px;
}

.btn-green {
  background-color: #0b4141;
  text-decoration: none;
  list-style: none;
  color: #ffccbc;
  text-align: center;
  font-size: 20px;
}

.btn-transparent {
  background-color: transparent;
  text-decoration: none;
  border: solid 3px #ffccbc;
  list-style: none;
  color: #ffccbc;
  text-align: center;
  font-size: 20px;
}

.btn-border-green {
  background-color: transparent;
  text-decoration: none;
  border: solid 3px #0b4141;
  list-style: none;
  color: #0b4141;
  text-align: center;
  font-size: 20px;
}

.screen {
  position: relative;
  height: calc(100vh - 80px);
}

.screen-pink {
  background-image: url("./images/confettis.png");
  background-size: contain;
  background-position: 50% 50%;
  background-color: #ffccbc;
}

.screen-grey {
  background-image: url("./images/your-product.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.screen-white-gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    155deg,
    rgba(255, 255, 255, 1) 60%,
    rgba(255, 204, 188, 1) 100%
  );
}
.screen-gradient-pink {
  height: auto;
  padding-top: 70px;
  background-color: rgb(255, 255, 255);
  background-image: url("./images/testimonials-bg.png"),
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 17%,
      rgba(255, 204, 188, 1) 100%
    );
  background-size: cover;
  background-position: 50% 50%;
}

.screen-green {
  background-color: #0b4141;
}
.screen-grey {
  background-color: #f5f5f5;
}

.principal-text {
  padding-top: 100px;
}

.title {
  margin: 0;

  font-family: "Dela Gothic One", cursive;
  text-align: center;
}

.title-small {
  font-size: 68px;
  font-family: sans-serif;
}

.title-medium {
  font-size: 80px;
}

.title-large {
  font-size: 10vw;
}
.title-left {
  text-align: left;
}

.title-centered {
  font-size: 50px;
}

.title-pink {
  color: #ffccbc;
}

.title-white {
  color: white;
  padding-top: 10px;
}

.title-green {
  color: #0b4141;
}

.title-black {
  color: #0b4141;
  background: linear-gradient(
    180deg,
    rgba(11, 65, 65, 1) 58%,
    rgba(11, 46, 39, 1) 50%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  position: relative;
  z-index: 3;
}

.title-green-center {
  color: #0b4141;
  font-family: sans-serif;
  font-size: 60px;
  padding-top: 30px;
  text-align: left;
}

.main-hero-img {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -5px;
  text-align: center;

  z-index: 2;
}

.main-hero-img img {
  max-width: 100%;
  text-align: center;
}

.text-white,
.text-pink {
  color: white;
  font-size: 24px;
}

.text-pink {
  color: #ffccbc;
}

.text-centered {
  max-width: 50%;
  text-align: center;
  padding: 25vh 0;
  margin: 0 auto;
}

.text-black {
  font-size: 20px;
  padding-top: 10px;
}

.two-column {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.two-column > article {
  position: relative;
  width: 50%;
}

.text-box {
  padding: 120px 160px 0 0;
  text-align: left;
}

.text-box > .btn-transparent {
  margin-top: 50px;
}

.right-align-img {
  position: absolute;
  left: 0;
  bottom: -5px;
}

.right-align-img img {
  max-width: 100%;
}

.centered-align-img {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.text-box > .text-black {
  width: 50%;
}

.centered-align {
  display: flex;
  justify-content: center;
}

.text-content {
  width: 70%;
  margin-top: 15%;
  overflow: hidden;
}

.text-with-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text-centered-grey {
  max-width: 50%;
  text-align: center;
  margin: 0 auto;
  padding: 10vh;
}

.btn-border-green {
  margin-top: 50px;
}
.logo-app-store {
  display: flex;
  margin: 0 auto;
}

.testimonials {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 80%;
  margin: 70px auto 70px;
}
.testimonials-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(100% / 3);
}

.card {
  padding: 20px;

  border: 1px solid #fff;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.card-text {
  text-align: left;
  margin: 0;
  color: #0b4141;
}

.card-details {
  padding: 3px 20px;
  align-items: center;
  color: #0b4141;
}

.card-author {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.card-name {
  font-weight: bold;
}

.page-footer {
  display: flex;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-ctas {
  display: flex;
  width: 100%;
  gap: 48px;
  margin-top: 48px;
  justify-content: center;
}

.footer-by-cornelia {
  position: absolute;
  max-width: 1440px;
  width: 100%;
  bottom: 80px;
}
