html {
  font-family: sans-serif;
  font-weight: 300;
}

.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.page-header {
  display: flex;
  height: 80px;
  padding: 0 95px;
  justify-content: space-between;
  align-items: center;
}

.logo {
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
}

nav a {
  color: #0b4141;
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: row;
}

nav li {
  text-decoration: none;
  list-style: none;
  margin-right: 24px;

  font-size: 20px;
  color: #0b4141;
}

nav li:last-of-type {
  margin-right: 48px;
}

.btn {
  display: inline-block;
  height: 46px;
  padding: 0 34px;
  line-height: 46px;
  border-radius: 40px;
}

.btn-green {
  background-color: #0b4141;
  text-decoration: none;
  list-style: none;
  color: #ffccbc;
  text-align: center;
  font-size: 20px;
}

.screen {
  position: relative;
  height: calc(100vh - 80px);
}

.principal-text {
  padding-top: 100px;
}

.title {
  margin: 0;

  font-family: "Dela Gothic One", cursive;
  text-align: center;
}

.title-small {
  font-size: 68px;
  font-family: sans-serif;
}

.title-medium {
  font-size: 80px;
}

.title-large {
  font-size: 10vw;
}

.title-pink {
  color: #ffccbc;
}

.title-white {
  color: white;
  padding-top: 10px;
}

.title-black {
  color: #0b4141;
  background: linear-gradient(
    180deg,
    rgba(11, 65, 65, 1) 50%,
    rgba(11, 46, 39, 1) 50%,
    #0b2e27 50%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  position: relative;
  z-index: 3;
}

figure {
  position: absolute;
  bottom: -18px;
  text-align: center;

  z-index: 2;
}

figure img {
  max-width: 100%;
}

.screen-pink {
  background-image: url("/images/confettis.png");
  background-size: contain;
  background-position: 50% 50%;
  background-color: #ffccbc;
}

.text-white,
.text-pink {
  color: white;
  font-size: 24px;
}

.text-pink {
  color: #ffccbc;
}

.text-centered {
  max-width: 50%;
  text-align: center;
  padding: 25vh 0;
  margin: 0 auto;
}

.screen-green {
  background-color: #0b4141;
}

.two-column {
  display: flex;
  height: 100%;
}

.two-column > article {
  position: relative;
  width: 50%;
  height: 100%;
}

.left-align-img {
  position: absolute;
  left: 0;
  bottom: 0;
}
